<h2>About Me</h2>
<p>I'm an iOS Developer with a love for clean code and german sheperds.</p>
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/evanriley">@evanriley on GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/evanriley">@evanriley on Twitter </a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="http://instagram.com/evanriley">@evanriley on Instagram</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:hi@evanriley.me">hi@evanriley.me</a>
  </li>
</ul>
